.container__footer {
    color: #ffffff;
    background-color: #bf19c5;
}

.container__footer .footer__wrap {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__footer .footer__wrap a {
    width: 40px;
    color: #ffffff;
}
