@import './fonts.css';
@import './normalize.css';
@import '../fontawesome/css/all.css';
@import './header.css';
@import './nav.css';
@import './main.css';
@import './footer.css';

html {
    height: 100%;
    font-size: 10px;
}

body {
    height: 100%;
    font-family: 'Fontello';
    font-size: 1.6rem;
}

img {
    width: 100%;
    height: auto;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrap {
    padding: 1rem 1rem;
    box-sizing: border-box;
}
