@import './normalize.css';
@import './fonts.css';
@import './all.css';
@import './components/header.css';
@import './components/nav.css';
@import './components/aside.css';
@import './components/main.css';
@import './components/footer.css';
@import './varibles.css';

html {
    height: 100%;
    font-size: 10px;
}

body {
    height: 100%;
    font-family: 'Fontello';
    font-size: 1.6rem;
}

img {
    width: 100%;
    height: auto;
}

.container {
    padding: 1rem;
    box-sizing: border-box;
}
